<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel= "stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
        {% block stylesheets %} {% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                            <a href ="/portfolio"><button type="button" class="btn btn-primary">Portfolio</button> </a>
                            <a href ="/loisirs"><button type="button" class="btn btn-secondary">Mes Loisirs</button> </a>
                            <a href ="/"><button type="button" class="btn btn-success">Accueil</button> </a>
                            <a href ="/cv"><button type="button" class="btn btn-info">Mon Cv</button> </a>
                            <a href ="/contact"><button type="button" class="btn btn-danger">Me Contactez</button> </a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
{% block javascripts %}{% endblock %}
<br>
<!-- Bienvenue sur ma page d'accueil tu y retrouve mon Portfolio , Mes Loisirs , Mon CV , Des informations et Comment me Contactez --> 
<!-- Tu es curieux :) --> 
<br>
<br>
<script>
alert('Bienvenue sur mon blog de présentation 😀');
</script>
<script>
var m = prompt("Entrez votre Prenom et Nom","");
alert('Bienvenue');
alert(m);
</script>

            

<span title="N'hesite pas à inspecter le code source de la page si tu es curieux"><center><h1>Bienvenue sur la page d'accueil<h1></center></span>
<br>
<center><h2>Ainsi que sur mon blog :) </h2></center>
<br>
<center><h3>Clique sur les différents boutons</h3></center>
<br>
<span title="N'hesite pas à inspecter le code source de la page si tu es curieux"><center><h4>Pour découvrir mon code source </h4></center></span>

<br>
<br>

<center><div class="card border-primary mb-3" style="max-width: 32rem;">
  <span title="N'hesite pas à inspecter le code source de la page si tu es curieux"><h1 class="card-header">Dufour Theo</h1></span>
  <div class="card-body">
    <h4 class="card-title">📱07 82 83 81 9666</h4>
    <h5 class="card-title">📧 theo.dufour@etu.univ-st-etienne.fr</h5>
  </div>
</div></center>
<footer class="footer text-center mb-0">
    <div class="container mb-0">
        <div class="row mb-0">
            <div class="col-md-3 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Téléphone</h4>
                <p class="lead mb-0">+33 7 82 83 81 96</p>
            </div>
        <div class="col-md-5 mb-12 mb-lg-15">
            <h4 class="text-uppercase mb-4">Adresse</h4>
            <p class ="lead mb-0">Roanne.</p>
        </div>
       <div class="col-md-3 mb-5 mb-lg-4">
        <h4 class="text-uppercase mb-4">Sur le net</h4>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                     <span title="C'est mon github clique pour voir mes projets"><a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/TheoDfr"><img class="img-fluid" src ="/img/git.png" width="32rem;"</span></img>
					  <i class="fas fa-sitemap"></i>
					</a>
        </ul>
    </div>
<p>&nbsp;</p>
<div class"col-md-3">
    <h4 class="text-uppercase mb-4">A propos de ce site</h4>
    <p class="lead mb-0">
         Site créer avec
        <a href="https://symfony.com/4">Symfony</a>, Twig et
        <a href="https://bootswatch.com">Bootswatch</a>
        .
        <br>Site créer par Theo Dufour©
    </p>
</div>
</div>
<p>&nbsp;</p>
</div>
</footer>
<div class="scroll-to-top d-lg-none position-fixed" style="display: block;">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron up">
         ::before
        </i>
    </a>
    </body>

<!-- ////////////
////////B//////////
/////////Y//////////
//////////S///////////
///////////U///////////
////////////C///////////
/////////////C///////////
//////////////E///////////
///////////////S///////////
////////////////S///////////
/////////////////F///////////
//////////////////U///////////
///////////////////L///////////-->



</html>
